<%- include('../partials/admin-sidebar')%>

        <!-- Content wrapper -->
        <div class="content-wrapper">
          <!-- Content -->

          <div class="container-xxl flex-grow-1 container-p-y">

            <!-- Hoverable Table rows -->
            <div class="card">
              <div class="table-responsive text-nowrap">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Order ID</th>
                      <th>User Name</th>
                      <th>Mobile</th>
                      <th>Amount</th>
                      <th>Order Status</th>
                      <th>Details</th>
                    </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                    <% Orders.forEach(function(order){%>
                      <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i>
                          <strong>
                            <%=order._id%>
                          </strong>
                        </td>
                        <td>
                          <%=order.address.First_Name%>
                          <%=order.address.Last_Name%>
                        </td>
                        <td>
                          <%=order.address.Mobile%>
                        </td>
                        <td>
                          <%=order.total%>
                        </td>
                        <% if (order.orderStatus=='Cancelled') { %>
                          <td style="font-size: 1rem;" class="text-danger font-weight-bold"><%=order.orderStatus%></td>
                       <%} else if(order.orderStatus=='Delivered') { %>
                        <td style="font-size: 1rem;" class="text-success font-weight-bold pr-1"><%=order.orderStatus%></td>
                        <%} else if(order.orderStatus=='returned') { %>
                          <td style="font-size: 1rem;" class="text-warning font-weight-bold pr-1"><%=order.orderStatus%></td>
                        <% }else{ %>
                        <td>
                          <select id="OStatus<%=order._id%>" style="width: 7.5rem;" onchange="statusOrder('<%=order._id%>')"
                            class=" custom-select font-weight-bold bg-transparent text-info border-0 "
                            name="orderStatus">
          
                            <option value="<%= order.orderStatus %>"><%= order.orderStatus %> </option>
                            <option class="text-dark font-weight-bold" value="Packed">Packed</option>
                            <option class="text-dark font-weight-bold" value="Shippped">Shippped</option>
                            <option class="text-dark font-weight-bold" value="Delivered">Delivered</option>
                          </select>
                        </td>
                        <% } %> 
                        <td>
                          <button type="button" class="px-3 py-1 btn btn-info">
                            <a href="/admin/view-order/<%=order._id%>" class="text-white">View</a>
                          </button>
                        </td>
                      </tr>
                      <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
            <!--/ Hoverable Table rows -->
          </div>
          <div class="content-backdrop fade"></div>
        </div>

        <script>
          function statusOrder(orderId) {
            const status = $(`#OStatus${orderId}`).val()
            console.log(orderId, status,'hiii');
            console.log(status,'status');
            $.ajax({
              url: '/admin/status-change',
              data: {
                orderId,
                status
              },
              method: 'post',
              success: ((response) => {
                Swal.fire({
                  position: 'center',
                  icon: 'success',
                  title: 'Order Changed',
                  customClass: 'swal-wide',
                  showConfirmButton: false,
                  timer: 1000
                }).then(()=>{
                  location.reload()
                })
                
              })
            })
          }
        </script>