<!DOCTYPE html>
<html lang="zxx">
<%- include('../partials/user-header')%>

    <body>
        <!-- Page Preloder -->

        <!-- Header Section Begin -->
        <%- include('../partials/head')%>
            <!-- Header Section End -->

            <!-- Breadcrumb Section Begin -->
            <section class="breadcrumb-option">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb__text">
                                <h4>Shopping Cart</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Breadcrumb Section End -->

            <!-- Shopping Cart Section Begin -->
            <section class="shopping-cart spad" id="abc">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="shopping__cart__table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% let items=carts.items %>
                                            <% if (items) { %>
                                                <% items.forEach(function(cart){%>
                                                    <tr>
                                                        <td class="product__cart__item">
                                                            <div class="product__cart__item__pic">
                                                                <img height="auto" width="120px"
                                                                    src="/images/productImages/<%=cart.productImage[0]%>"
                                                                    alt="">
                                                            </div>
                                                            <div class="product__cart__item__text">
                                                                <h6>
                                                                    <%=cart.productName%>
                                                                </h6>
                                                                <h5>
                                                                    ₹<%=cart.productPrice%>
                                                                </h5>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div>
                                                                <% if (cart.productStock <=0) { %>

                                                                    <% } else { %>
                                                                        <button
                                                                            onclick="minusQantity('<%=cart.products%>','<%=cart.productPrice%>')"
                                                                            type="button"
                                                                            class="btn btn-light pro-qty-left">-</button>
                                                                        <span id="<%=cart.products%>quantity">
                                                                            <%=cart.quantity%>
                                                                        </span>
                                                                        <button
                                                                            onclick="plusQantity('<%=cart.products%>','<%=cart.productPrice%>')"
                                                                            type="button"
                                                                            class="btn btn-light pro-qty-right">+</button>
                                                                        <% } %>
                                                            </div>

                                                        </td>
                                                        <td id="<%=cart.products%>total" class="cart__price">
                                                            ₹<%=cart.totalPrice%>
                                                        </td>
                                                        <td class="cart__close"><i
                                                                onclick="deleteCart('<%=cart.products%>')"
                                                                class="fa fa-close"></i></td>
                                                    </tr>
                                                    <% }) %>
                                                        <%} else { %>
                                                            <div class="wrapper">
                                                                <div class="container-new">
                                                                    <div class="">
                                                                        <div class="text-center">
                                                                            <iconify-icon class="smile"
                                                                                icon="ph:smiley-sad-light"></iconify-icon>
                                                                            <h2 class="typing px-spc-b-20">Sorry, your
                                                                                searching product is not available</h2>
                                                                            <span class="span px-spc-b-20">If you want
                                                                                to back, Please click link below</span>
                                                                            <a href="/shop" class="go-home"><i
                                                                                    class="fa fa-shopping-cart go-home-icon"
                                                                                    aria-hidden="true"></i>Go Shop</a>
                                                                        </div>
                                                                        <div class="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="continue__btn">
                                        <a href="/">Continue Shopping</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="continue__btn update__btn">
                                        <a onclick="deleteallCart('<%=carts._id%>')" href=""><i
                                                class="fa fa-spinner"></i> Update
                                            cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="cart__discount">
                                <h6>Discount Codes</h6>
                                <form action="#">
                                    <input type="text" id="code" name="code" placeholder="Coupon code">
                                    <button onclick="applyCoupon()" type="submit">Apply</button>
                                </form>
                            </div>
                            <div class="cart__total">
                                <h6>Cart total</h6>
                                <ul>
                                    <div class="row">
                                        <li class="cart_total">SubTotal</li>
                                        <li class="cart_total_2" id="Total">
                                            <%=carts.total%>
                                        </li>
                                    </div>
                                    <div class="row">
                                        <li class="cart_total">Shipping</li>
                                        <li class="cart_total_4">Free</li>
                                    </div>
                                    <div class="row">
                                        <li class="cart_total">Discount</li>
                                        <li class="cart_total_3">
                                            <%= carts.discount.amount %>
                                        </li>
                                    </div>
                                    <div class="row">
                                        <% if (carts.discount.amount>0) { %>
                                            <li class="cart_total">Total</li>
                                            <li class="cart_total_5">
                                                <%=carts.grandTotal%>
                                            </li>
                                            <% } else { %>
                                                <li class="cart_total">Total</li>
                                                <li class="cart_total_5" id="Totals">
                                                    <%=carts.total%>
                                                </li>
                                                <% } %>
                                    </div>

                                </ul>
                                <a href="/checkout" class="primary-btn">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Shopping Cart Section End -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
            <script>
                function plusQantity(cartId, Price) {
                    $.ajax({
                        url: "/plus-quantity/" + cartId,
                        method: "get",
                        success: (response) => {
                            if (response.status) {
                                let quantity = document.getElementById(`${cartId}quantity`).innerHTML;
                                quantity = parseInt(quantity);
                                document.getElementById(`${cartId}quantity`).innerHTML = quantity + 1;
                                document.getElementById(`${cartId}total`).innerHTML = Price * (quantity + 1);
                                let totalBill = document.getElementById("Total").innerHTML;
                                let superBill = document.getElementById("Totals").innerHTML;
                                let total = parseInt(totalBill);
                                let price = parseInt(Price);
                                let Total = parseInt(superBill)
                                document.getElementById("Total").innerHTML = total + price;
                                document.getElementById("Totals").innerHTML = Total + price;
                            } else if (response.stocklimit) {
                                Swal.fire({
                                    position: "center",
                                    icon: "error",
                                    title: "Sorry! Out of Stock",
                                    customClass: "swal-wide",
                                    showConfirmButton: true
                                });
                            } else if (response.error) {
                                console.log("error")
                            }
                        },
                    });
                }
            </script>

            <script>
                function minusQantity(cartId, Price) {
                    $.ajax({
                        url: "/minus-quantity/" + cartId,
                        method: "get",
                        success: (response) => {
                            if (response.status) {
                                let quantity = document.getElementById(`${cartId}quantity`).innerHTML;
                                if (quantity <= 1) {
                                    deleteminusCart(cartId)
                                } else {
                                quantity = parseInt(quantity);
                                document.getElementById(`${cartId}quantity`).innerHTML = quantity - 1;
                                document.getElementById(`${cartId}total`).innerHTML =
                                    Price * (quantity - 1);
                                let totalBill = document.getElementById("Total").innerHTML;
                                let superBill = document.getElementById("Totals").innerHTML;
                                let total = parseInt(totalBill);
                                let price = parseInt(Price);
                                let Total = parseInt(superBill)
                                document.getElementById("Total").innerHTML = total - price;
                                document.getElementById("Totals").innerHTML = Total - price;
                                }
                            } else if (response.deleted) {
                                Swal.fire({
                                    position: "center",
                                    icon: "success",
                                    title: " Deleted!",
                                    customClass: "swal-wide",
                                    showConfirmButton: true
                                });
                            }
                            $("#abc").load(" #abc");
                        },
                    });
                }
            </script>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
            <script>
                function applyCoupon() {
                    console.log('okkk');
                    const couponCode = document.getElementById("code").value;
                    console.log(couponCode);
                    if (couponCode != "") {
                        $.ajax({
                            url: '/add-coupon/' + couponCode,
                            method: 'post',
                            success: async (response) => {
                                if (response.success) {
                                    Swal.fire({
                                        position: "center",
                                        icon: "success",
                                        title: "Coupon Added",
                                        customClass: "swal-wide",
                                        showConfirmButton: true,
                                    });
                                } else if (response.exist) {
                                    Swal.fire({
                                        position: "center",
                                        icon: "error",
                                        title: "Your code is already exist",
                                        customClass: "swal-wide",
                                        showConfirmButton: true,
                                    });
                                } else if (response.error) {
                                    Swal.fire({
                                        position: "center",
                                        icon: "error",
                                        title: "Your code not available",
                                        customClass: "swal-wide",
                                        showConfirmButton: true,
                                    });
                                } else {
                                    Swal.fire({
                                        position: "center",
                                        icon: "error",
                                        title: "Something Error! Try Again",
                                        customClass: "swal-wide",
                                        showConfirmButton: true,
                                    });
                                }
                            }
                        })
                    }
                }
            </script>
            <script>
                async function deleteCart(productId) {
                    alert('one')
                    $.ajax({
                        url: `/delete-cart/${productId}`,
                        method: "get",
                        success: (response) => {
                            if (response.deleted) {
                                Swal.fire({
                                    position: "center",
                                    icon: "success",
                                    title: " Deleted!",
                                    customClass: "swal-wide",
                                    showConfirmButton: true
                                });
                                $("#abc").load(" #abc");
                                let totalBill = document.getElementById("Total").innerHTML;
                                let superBill = document.getElementById("Totals").innerHTML;
                                let price = document.getElementById(`${cartId}total`).innerHTML;
                                let total = totalBill - price;
                                let superTotal = superBill - price;
                                document.getElementById("Total").innerHTML = total;
                                document.getElementById("Totals").innerHTML = superTotal;
                            }
                        }
                    })
                }
            </script>
            <script>
                async function deleteminusCart(productId) {
                    $.ajax({
                        url: `/delete-minuscart/${productId}`,
                        method: "get",
                        success: (response) => {
                            if (response.deleted) {
                                Swal.fire({
                                    position: "center",
                                    icon: "success",
                                    title: " Deleted!",
                                    customClass: "swal-wide",
                                    showConfirmButton: true
                                });
                                $("#abc").load(" #abc");
                            }
                        }
                    })
                }
            </script>
            <script>
                async function deleteallCart(cartId) {
                    $.ajax({
                        url: `/delete-all-cart/${cartId}`,
                        method: "get",
                        success: (response) => {
                            if (response.deleted) {
                                Swal.fire({
                                    position: "center",
                                    icon: "success",
                                    title: "All Products are Deleted!",
                                    customClass: "swal-wide",
                                    showConfirmButton: false
                                });
                            }
                        }
                    })
                }
            </script>
            <%- include('../partials/user-footer')%>
    </body>

</html>